@media only screen and (min-width: 768px){
  
    .Post{
  float: left;
  padding-top: 12px;
  padding-left: 15px;
  width:620px;
  margin: 10px;
  padding-bottom: 14px;
    border-left-style: inset;
}
   .item-1{
  float: right;
    padding-right: 30px;
    display: flex;
align-items: center;
justify-content: space-around;
   } 
   
   nav a{
  text-decoration: none;
  padding: 20px;
  padding-top: 30px;
color:#69696a;
font-size: 18px;
}

    .circle{
  float: right;
  padding-top: 12px;
  padding-right: 130px;
  width:300px;
  margin: 10px;
  position: relative;

}


.pink{
  width: 275px;
  height: 275px;
  border-radius: 50%;
background: rgba(247,136,167,0.6);
position: absolute;

}

.orange{
  width: 200px;
  height:200px;
  background: rgba(247,193,162,0.7);
  border-radius: 50%;
  left: 140px;
position: absolute;
top: 160px;

}
.purple{
  width:125px;
  height: 125px;
  background: rgba(207,130,213,0.6);
  border-radius: 50%;
  position: absolute;
  bottom: 130px;
  left: 110px;

}

button{
    width:auto;
    display: inline-block;
  }
.button-footer{
  width: 150px;
  position: absolute;
  bottom: 0;
  right: 50%;
}
}